<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TherapyIzer.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activities.registration.PatientScreeningResultActivity"
            android:exported="false" />
        <activity
            android:name=".activities.registration.PatientScreeeningActivity"
            android:exported="true" >

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        </activity>

        <activity
            android:name=".activities.professional.ProfessionalAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.professional.ProfessionalNotesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.professional.ProfessionalClientsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.professional.ProfessionalMainPageActivity"
            android:exported="true" />
        <activity
            android:name=".activities.patient.TherapyActivity"
            android:exported="false" />
        <activity
            android:name=".activities.patient.FindHelpActivity"
            android:exported="false" />
        <activity
            android:name=".activities.patient.WithdrawalActivity"
            android:exported="false" />
        <activity
            android:name=".activities.patient.KnowledgeHubActivity"
            android:exported="false" />
        <activity
            android:name=".activities.patient.PatientProgressActivity"
            android:exported="false" />
        <activity
            android:name=".activities.patient.PatientMainPageActivity"
            android:exported="true" />
        <activity
            android:name=".activities.registration.ProfessionalRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.registration.PatientRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.registration.UserTypeSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.WelcomeScreenActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".activities.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.OutgoingInvitationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.IncomingInvitationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SignInActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TherapyIzer.NoActionBar" />

        <service
            android:name=".firebase.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>